<!DOCTYPE html>
<html>
  <head>
    <title>
      server
    </title>
  </head>
  <body>
   <h4> {{condensedTitle}} </h4>
  <p> some text goes here </p>

  {{> footer}}
  </body>

</html>